
@model List<Wedding>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="/logout">Log Out</a>
    <h1>Welcome to the Wedding Planner</h1>
    <button>   <a href="/addwedding/@ViewBag.Id">New Wedding</a> </button>
    <table style = "width:100%">
        <tr>
            <th>Wedding</th>
            <th>Date</th>
            <th>Guest</th>
            <th>Action</th>
        </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td><a href="/weddingdetail/@item.WeddingId">@item.W1  & @item.W2</a></td>
            <td>@item.Date</td>
            <td>@item.Guests.Count</td>
            <td> 
            
               
                    
                    @if(@item.UserId == @ViewBag.theId){
                        <a href="/delete/@item.WeddingId">Delete</a>}

                        else if(item.Guests.Any(a => a.UserId == ViewBag.theId)){
                            <a href="/unrsvp/@item.WeddingId">UnRsvp</a>
                        }
                    else{
                            <a href="/rsvp/@item.WeddingId">RSVP</a>
                        }
                        
                        
                        <!-- @if(@item.UserId != @ViewBag.theId ){
                            <a href="/rsvp/@item.WeddingId">RSVP</a>
                        } -->

                    

                
                </td>
        </tr>
    }
    </table>
        
</body>
</html>